Flask==1.1.2
connexion[swagger-ui]==2.7.0
Flask-SQLAlchemy==2.5.1
flask-marshmallow==0.14.0
marshmallow==3.11.1
marshmallow-sqlalchemy==0.24.2
PyJWT==2.0.1
psycopg2-binary==2.8.6
pytest==6.2.3
pytest-cov==2.11.1
pytest-flask==1.2.0
requests==2.25.1